<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners><listener class-name="reportGeneration.Listners"></listener></listeners>
  <test thread-count="5" name="Test">
  <parameter name="browsers" value="chrome"></parameter>
    <classes>
      
      <class name="testScripts.GeneralNewsTest">
      <methods>
      <include name="verifyNewUserCreation"></include>
        <include name="verifySearchExistingUser"></include>
          <include name="verifyUserReset"></include>
      </methods>
      </class>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
